<!DOCTYPE html>
<html lang="en-US">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="modules/courses.js"></script>
  <script src="controllers/courseController.js"></script>
  <script src="env.js"></script>
</head>
<body>

  <div ng-app="courses" ng-controller="courseController">
      <div ng-repeat="course in courses" style="clear:left;padding:5px" ng-init="shown = false">
        <span>{{course.courseId}}</span>
        <span ng-click="getCourse(course.courseId);">{{course.name}}</span>
        <span>{{course.holes.length}} Holes</span>
        <span>Par: {{course.par}}</span>
        <span ng-show="!shown">
          <a href="javascript:void(0);" ng-click="shown = true;">Show</a>
        </span>
        <span ng-show="shown">
          <a href="javascript:void(0);" ng-click="shown = false;">Hide</a>
        </span>
        <a href="javascript:void(0);" ng-click="getCourseRounds(course.courseId);">Rounds</a>
        <a href="javascript:void(0);" ng-click="deleteCourse(course.courseId);">Delete</a>
        <div ng-show="shown">
          <table>
            <tr class="hole"><td>Hole</td><td ng-repeat="hole in course.holes">{{hole.holeNumber}}</td></tr>
            <tr class="par"><td>Par</td><td ng-repeat="hole in course.holes">{{hole.par}}</td></tr>
            <tr class="yards"><td>Yards</td><td ng-repeat="hole in course.holes">{{hole.yards}}</td></tr>
          </table>
        </div>
      </div>
      <span ng-init="createNew = false" ng-click="createNew = true">New</span>
      <div ng-show="createNew">
        <span>
          <select ng-model="courseType" ng-options="x.name for x in courseTypes" ng-change="initNewCourseHoles">
        </span>
        <span><input type="button" value="+ Course" ng-click="initNewCourseHoles()"/></span>
        <div>
          <span></span>
          <span><input ng-model="newCourse.name" type="text"/></span>
          <span>{{courseType.name}}</span>
          <div>
            <table>
              <tr>
                <td>Hole</td>
                <td ng-repeat="hole in newCourse.holes">
                  <input ng-model="hole.holeNumber" type="hidden"/>{{hole.holeNumber}}
                </td>
              </tr>
              <tr>
                <td>Par</td>
                <td ng-repeat="hole in newCourse.holes">
                  <input ng-model="hole.par" type="text" size="3" maxlength="2"/>
                </td>
              </tr>
              <tr>
                <td>Yards</td>
                <td ng-repeat="hole in newCourse.holes">
                  <input ng-model="hole.yards" type="text" size="3" maxlength="3"/>
                </td>
            </table>
          </div>
          <input type="button" value="Save Course" ng-click="saveCourse(newCourse)"/>
        </div>
      </div>
  </div>
</body>
</html>
