<!DOCTYPE html>
<html lang="en-US">
<head>
  <link rel="stylesheet" type="text/css" href="styles/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="modules/rounds.js"></script>
  <script src="controllers/roundController.js"></script>
  <script src="env.js"></script>
  <script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
    crossorigin="anonymous">
  </script>
</head>
  <body>
    <div ng-app="rounds" ng-init="courseId=1" ng-controller="roundController">
      <div>
        <table class="courseTable">
          <tr class="courseName">
            <th colspan="{{course.holes.length + 3}}">
              {{course.name}}
            </th>
          </tr>
          <tr class="hole">
            <td>Hole</td>
            <td ng-repeat="hole in course.holes">{{hole.holeNumber}}</td>
            <td>OUT</td>
            <td></td>
          </tr>
          <tr class="par">
            <td>Par</td>
            <td ng-repeat="hole in course.holes">{{hole.par}}</td>
            <td>{{course.par}}</td>
            <td></td>
          </tr>
          <tr class="yards" ng-init="total=0">
            <td>Yards</td>
            <td ng-repeat="hole in course.holes" ng-init="$parent.total = $parent.total + hole.yards">{{hole.yards}}</td>
            <td>{{total}}</td>
            <td></td>
          </tr>
        </table>
        <table ng-repeat="round in existingRounds" class="courseTable">
          <tr class="roundDate">
            <td>Date:</td>
            <td colspan="{{course.holes.length + 2}}">
              <span>
                {{round.date}}
              </span>
              <span style="float:right;">
                <a href="javascript:void(0);" ng-click="deleteRound(round.roundId);">Delete</a>
                <a href="javascript:void(0);">Edit</a>
              </span>
            </td>
          </td>
          <tr class="playerRound" ng-repeat="playerRound in round.playerRounds">
            <td>
              {{playerRound.player.name}}
            </td>
            <td ng-repeat="score in playerRound.scores">
              {{score.strokes}}
            </td>
            <td>{{playerRound.totalStrokes}}</td>
            <td></td>
          </tr>
        </table>
        <table class="courseTable">
          <tr class="roundDate">
            <td>Date:</td>
            <td colspan="{{course.holes.length + 2}}"><input ng-model="round.date" type="date"></td>
          </tr>
          <tr class="playerRound" ng-repeat="playerRound in round.playerRounds" ng-init="playerTotal=0">
            <td>
              {{playerRound.player.name}}
            </td>
            <td ng-repeat="score in playerRound.scores">
              <input type="text" ng-model="score.strokes" size="2" maxlength="2"
              ng-change="getTotal(playerRound)"/>
            </td>
            <td><input type="text" size="3" ng-model="playerRound.totalStrokes" disabled/></td>
            <td><input type="button" value="Remove" ng-click="removePlayer(playerRound)"/></td>
          </tr>
        </table>
        <span><select ng-model="newPlayer" ng-options="x.name for x in players" ng-change="console.log(rounds);"></span>
        <input type="button" value="+ Player" ng-click="addPlayer()"/>
      </div>
      <input type="button" value="Save Round" ng-click="saveRound()"/>
    </div>
  </body>
</html>
